<!DOCTYPE html>
<html>
<head>
  <title>Markdown editor</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "markdown/editor/application", media: "all" %>
  <%= javascript_include_tag "markdown/editor/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
