<div class="container">
  <%= yield :title_section %>

  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-12">
      <section id="main_content" >
        <% if @posts.any? %>
        <div id="blog_posts" class="row">
          <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
          <div class="col-sm-12">
            <%= will_paginate @posts %>
          </div>
        </div>
        <% else %>
        <p>
          <%= t('.no_posts') %>
        </p>
        <% end %>
      </section>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-8">
      <%= render "/refinery/sidebar" %>
    </div>
  </div>
</div>
