<div class="mb-4">
  <div class="card border-0 post">
    <div class="card-body">
      <div class="button-group tags-list">
        <% post.tags.each do |tag| %>
        <a href="<%= refinery.blog_tagged_path(tag.name) %>" role="button" class="btn btn-success btn-sm "><%= tag.name %></a>
        <% end %>
      </div>
      <h4 class="card-title mt-3 mb-4 underline">
        <a class="text-dark" href="/"><%= post.title %></a>
      </h4>
      <p class="card-text"><%= post.intro  %></p>
      <div class="post-footer">
        <span class="date"><%= post.published_at.strftime('%Y-%m-%d') %></span>
        <span class="mx-3">|</span>
        <span><i class="far fa-comment"></i>: <%= post.comments.size %></span>
        <a href="<%= refinery.blog_post_path(post) %>" role="button" class="btn btn-success btn-sm float-right">Read More</a>
      </div>
    </div>
  </div>
</div>
