<!doctype html>
<%= render "/refinery/html_tag" %>
  <head>
    <%= render "/refinery/head" %>
    <%= render "/refinery/javascripts" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <div id="page_container">
      <header id="header" role="banner">
        <%= render "/refinery/header" -%>
      </header>
      <main id="page" role="main" style="margin-top: 6rem;">
        <% # need to restore %>
        <% yield %>
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <%= render "/refinery/main_content" %>
            </div>
            <div class="col-sm-4">
              <%= render "/refinery/sidebar" %>
            </div>
          </div>
        </div>
      </main>
      <footer role="contentinfo">
        <%= render "/refinery/footer" -%>
      </footer>
    </div>
  </body>
</html>
