<!doctype html>
<%= render "/refinery/html_tag" %>
  <head>
    <%= render "/refinery/head" %>
    <%= render "/refinery/javascripts" %>
  </head>
  <body >
    <div id="page_container" class="mt-3">
      <header id="header" role="banner">
        <%= render "/refinery/header" -%>
      </header>
      <main id="page" role="main">
        <%= yield %>
      </main>
      <footer role="contentinfo">
        <%= render "/refinery/footer" -%>
      </footer>
    </div>
    <script>
      alert('I amd javascript')
    </script>
    <script type="text/coffeescript">
      alert('I amd coffeescript')
    </script>
  </body>
</html>
