<!doctype html>
<%= render "/refinery/html_tag" %>
  <head>
    <%= render "/refinery/head" %>
    <%= render "/refinery/javascripts" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <div id="page_container">
      <header id="header" role="banner">
        <%= render "/refinery/header" -%>
      </header>
      <main id="page" role="main" style="margin-top: 6rem;">
        <%= yield %>
      </main>
      <footer role="contentinfo">
        <%= render "/refinery/footer" -%>
      </footer>
    </div>
  </body>
</html>
